        /*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
        
        body {
            height: auto;
            width: 75%;
            background-color: white;
            margin: auto;
        }
        
        p i {
            color: grey;
        }
        
        header,
        footer {
            background-color: lightblue;
            color: white;
            border-radius: 5px;
            margin-top: 1em;
        }
        
        header img {
            box-shadow: 2px 2px 10px black;
            margin: 1em -1em -4em 1em;
        }
        
        h1,
        h2 {
            display: block;
            text-shadow: 2px 2px 10px grey;
        }
        
        h1 {
            font-size: 60px;
            text-align: center;
        }
        
        h2 {
            text-align: left;
        }
        
        ul {
            display: grid;
        }
        
        ul li {
            margin-left: 2em;
        }
        
        #currentdate {
            color: yellow;
        }