     :root {
        --Primary_color: #284AF6;
        --Secondary_color: #92DDCC;
        --Accent1: #FEF9FF;
        --Accent2: #dddfef;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        background-color: var(--Accent2);
    }
    
    h1,
    h2 {
        font-family: 'Open Sans', sans-serif;
    }
    
    p {
        font-family: 'PT Sans', sans-serif;
    }
    
    body {
        height: auto;
        width: 75%;
        background-color: var(--Accent1);
        margin: auto;
        padding: 1em;
    }
    
    header,
    footer {
        display: grid;
        background-color: var(--Primary_color);
        color: var(--Accent1);
        border-radius: 5px;
        text-align: center;
        height: auto;
        padding: 1em;
        margin: 1em;
    }
    
    header img {
        width: 200px;
        height: auto;
    }
    
    h1,
    h2 {
        display: block;
        font-size: 2.5rem;
        margin: 0.51rem;
    }
    
    footer p {
        display: block;
    }
    
    h1 {
        text-align: center;
        width: 50%;
        float: right;
        margin: auto;
        margin-top: 5em;
        margin-right: 2em;
    }
    
    h2 {
        text-align: left;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }
    
    main div {
        margin: 0 auto;
        border: 1px solid var(--Secondary_color);
        padding: 0 1rem;
        background-color: var(--Secondary_color);
        font-size: 0.8rem;
        border-radius: 5px;
        width: 50px;
    }
    /*main div:nth-child(2) {
margin: 0.5rem;
}*/
    
    main div img {
        box-shadow: 0 0 30px var(--Secondary_color)
    }
    
    .grid {
        width: 225px;
        height: auto;
        text-align: center;
        padding: 1em;
    }
    
    .grid h3 {
        font-size: 18px;
        padding-bottom: 0.5em;
    }
    
    .grid img {
        width: 190px;
        float: left;
        padding: 1em;
    }
    
    nav {
        overflow: hidden;
        background-color: var(--Accent2);
        margin: 1em;
    }
    
    nav a {
        float: left;
        color: var(--Accent1);
        text-align: center;
        padding: 0.5em;
        text-decoration: none;
    }
    
    nav button {
        background-color: var(--Primary_color);
        padding: 0.5em;
        margin: 0.5em;
    }
    
    nav button a {
        color: var(--Accent1);
    }