@media only screen and (min-width: 32.5em) {
    html {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
     :root {
        --Primary_Color: #512A3D;
        --Secondary_Color: #FE9A9C;
        --Accent1: #EDE9E8;
        --Accent2: #D9BFD0;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}