:root {
    --Primary_Color: #512A3D;
    --Secondary_Color: #FE9A9C;
    --Accent1: #EDE9E8;
    --Accent2: #D9BFD0;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Source+Sans+Pro&display=swap');

/*Default*/

h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 30px;
    color: var(--Primary_Color);
}

h2 {
    font-family: 'Playfair Display SC', serif;
    font-size: 25px;
    color: var(--Primary_Color);
}

h3 {
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
    color: var(--Primary_Color);
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}


/*Header*/


/*---Logo---*/

#logo {
    background-color: var(--Primary_Color);
    display: block;
    position: relative;
    text-align: center;
}

#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
    padding-top: 1em;
    width: 20%;
}

#logo h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    text-shadow: 0 0 5px var(--Accent2);
}


/*---Nav---*/

nav {
    background-color: var(--Secondary_Color);
}

nav ul li a {
    text-decoration: none;
    color: var(--Primary_Color);
}

#hamburgerBtn span:nth-child(1) {
    display: block;
    grid-column: 1;
    grid-row: 1;
    float: left;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
    grid-column: 1;
    grid-row: 1;
    float: left;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
    grid-column: 1;
    grid-row: 1;
    float: left;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
    grid-column: 1;
    grid-row: 1;
    float: left;
}


/*Main*/


/*Footer*/