:root {
    --Primary_Color: #512A3D;
    --Secondary_Color: #FE9A9C;
    --Accent1: #EDE9E8;
    --Accent2: #D9BFD0;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Source+Sans+Pro&display=swap');

/*Default*/

h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 30px;
    color: var(--Primary_Color);
}

h2 {
    font-family: 'Playfair Display SC', serif;
    font-size: 25px;
    color: var(--Primary_Color);
}

h3 {
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
    color: var(--Primary_Color);
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}


/*Header*/


/*---Logo---*/

.logo {
    background-color: var(--Primary_Color);
    display: block;
    position: relative;
    text-align: center;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
    padding-top: 1em;
    width: 20%;
}

.logo h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    text-shadow: 0 0 5px var(--Accent2);
}


/*---Nav---*/

nav {
    background-color: var(--Secondary_Color);
    padding: 1em;
}

nav ul li {
    display: inline;
    padding: 1em;
    margin: auto;
}

nav ul li a {
    text-decoration: none;
    color: var(--Primary_Color);
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
    display: inline;
    padding: 1em;
}

nav ul li a:hover {
    color: var(--Secondary_Color);
    background-color: var(--Primary_Color);
}

nav ul li a:active {
    color: var(--Secondary_Color);
    background-color: var(--Primary_Color);
}

#hamburgerBtn span:nth-child(1) {
    display: block;
    grid-column: 1;
    grid-row: 1;
    float: left;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
    grid-column: 1;
    grid-row: 1;
    float: left;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
    grid-column: 1;
    grid-row: 1;
    float: left;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
    grid-column: 1;
    grid-row: 1;
    float: left;
}


/*Alert Warning*/

.alert {
    padding: 1em;
    background-color: rgba(225, 0, 0, 0.7);
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.4s;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 1em;
}

.closebtn {
    line-height: 0.5em;
    float: right;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    padding: 0.5em;
}

.closebtn:hover {
    background-color: rgba(225, 0, 0, 1);
}


/*Main*/

.grid {
    display: grid;
    grid-template-columns: repeat( 4, 25%);
    grid-template-rows: repeat( 3, auto);
    margin-left: -1em;
    margin-right: 1em;
}

main div {
    background-color: var(--Secondary_Color);
    border-radius: 5px;
}

#reservation img {
    width: 100px;
}


/*Elements*/


/*Footer*/

footer,
footer h1,
footer h2,
footer h3,
footer p {
    background-color: var(--Primary_Color);
    color: var(--Accent1);
    text-align: center;
}

footer .logo h1 {
    color: var(--Primary_Color);
    background-color: transparent;
}

footer ul li a {
    text-decoration: none;
    color: var(--Accent1);
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
    display: inline;
    padding: 1em;
}