:root {
    --Primary_color: #153158;
    --Secondary_color: #85C6E2;
    --Accent1: #FFFFFF;
    --Accent2: #C2C2C2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--Accent1);
}

.logo {
    font-size: 12px;
}

h1,
h2 {
    font-family: Sansita, Ubuntu, and sans-serif;
}

p {
    font-family: Sansita, Ubuntu, and sans-serif;
}

body {
    height: auto;
    margin: auto;
    padding: 1em;
}

header,
footer {
    display: flex;
    background-color: var(--Primary_color);
    color: var(--Accent1);
    border-radius: 5px;
    text-align: center;
    height: auto;
    padding: 1em;
    margin: 1em;
}

header img,
img {
    width: 100px;
    height: auto;
}

header ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    float: left;
}

header ul li a {
    display: block;
}

ul {
    display: grid;
}

ul li {
    list-style-type: none;
}

#date {
    color: var(--Accent2);
}

section {
    display: flex;
}

nav a {
    color: nav(--Accent1);
}

.icons ul li {
    float: right;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    background-color: var(--Accent1);
    margin: 0;
    padding: 2em;
    grid-gap: 5px;
}

div {
    background-color: rgba(0, 0, 0, 0.2);
}

.event {
    grid-column: 1;
    grid-row: 1;
    height: 300px;
}

.weather {
    grid-column: 1;
    grid-row: 2;
    height: 300px;
}

.join {
    grid-column: 1;
    grid-row: 3;
    height: 300px;
}

.hero {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 600px;
}

.news {
    grid-column: 2/3;
    grid-row: 3;
    height: 300px;
}

.spotlight {
    grid-column: 3;
    grid-row: 1;
    height: 900px;
}

.spotlight ul li {
    display: block;
    border: 1px dotted black;
}

.icons {
    float: right;
}

.icons li img {
    width: 30px;
}