@media only screen and (min-width: 64em) {
     :root {
        --Primary_color: #153158;
        --Secondary_color: #85C6E2;
        --Accent1: #FFFFFF;
        --Accent2: #C2C2C2;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html {
        background-color: var(--Accent1);
    }
    .logo-img {
        width: 55px;
        border-radius: 50%;
    }
    .logo h1,
    footer h1 {
        font-size: 15px;
    }
    .logo p {
        font-size: 10px;
    }
    .logo ul li {
        display: block;
        margin-top: -3em;
    }
    h1,
    h2,
    p {
        font-family: Sansita, Ubuntu, and sans-serif;
        text-align: center;
    }
    body {
        width: 100%;
        height: auto;
        margin: auto;
        /* padding: 1em; */
    }
    header,
    footer {
        width: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        background-color: var(--Primary_color);
        color: var(--Accent1);
        text-align: center;
        height: auto;
        padding: 0.90em;
    }
    header {
        grid-template-columns: 10% 20% 50% 20%;
        grid-template-rows: 70% 30%;
    }
    /* header img {
        margin-top: 1em;
        margin-left: 1em;
    } */
    header ul {
        display: inline;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    header ul li {
        float: left;
    }
    header nav {
        text-decoration: none;
    }
    header ul li a {
        display: block;
    }
    ul {
        display: grid;
    }
    ul li {
        list-style-type: none;
    }
    #currentdate {
        color: var(--Accent1);
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0.25em;
    }
    nav a {
        color: nav(--Accent1);
        padding: 1em;
    }
    nav button {
        display: none;
    }
    .icons ul li {
        float: right;
    }
    .icons a {
        width: 35px;
    }
    .grid {
        display: grid;
        width: auto;
        height: 1000px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        /* align-items: center; */
        background-color: var(--Accent1);
        padding: auto;
        margin: auto;
        grid-gap: 10px;
        margin: 1em;
    }
    .grid div {
        background-color: var(--Secondary_color);
        border-radius: 5px;
        margin: auto;
        text-align: center;
    }
    div p {
        padding: 1em;
        background-color: transparent;
    }
    .event {
        display: block;
        grid-column: 1/2;
        grid-row: 1/2;
        /* height: 100px; */
    }
    .weather {
        display: block;
        grid-column: 1/2;
        grid-row: 2/3;
        /* height: 100px; */
    }
    .join {
        grid-column: 1/2;
        grid-row: 3;
        /* height: 100px; */
    }
    button {
        width: 90%;
        background-color: var(--Accent1);
        border-radius: 5px;
        padding: 15px 32px;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        margin-top: 1em;
    }
    button a {
        color: var(--Primary_color);
        text-align: center;
        text-decoration: none;
    }
    .hero {
        grid-column: 2/4;
        grid-row: 1/3;
        height: auto;
        padding: 0px;
        /* height: 200px; */
    }
    .news {
        grid-column: 2/4;
        grid-row: 3;
        /* height: 100px; */
    }
    div.spotlight {
        display: grid;
        grid-template-rows: 3;
        grid-column: 4;
        grid-row: 1/4;
        /* height: 300px; */
    }
    #header-img {
        grid-column: 1;
    }
    .company {
        grid-column: 2;
        grid-row: 1;
    }
    .nav {
        grid-column: 3;
    }
    .icons {
        grid-column: 3/unset;
    }
    .icons li img {
        width: 30px;
        height: auto;
    }
    #spot1 {
        grid-column: 1/3;
    }
    #spot1 img {
        width: 200px;
    }
    #spot2 {
        grid-column: 1/3;
    }
    #spot3 {
        grid-column: 1/3;
    }
    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .footer-img {
        grid-column: 1;
        grid-row: 1/3;
    }
    .footer-company {
        grid-column: 2;
        grid-row: 1;
    }
    .contact {
        grid-column: 2;
        grid-row: 1;
    }
    .js {
        grid-column: 1/4;
        grid-row: 2;
    }
    footer a {
        color: white;
        text-decoration: none;
    }
    #map {
        width: 20px;
    }
    #currentdate {
        grid-column: 1/4;
        grid-row: 2;
        width: 100%;
    }
    #spot3 {
        display: block;
    }
    .medium-div {
        display: none;
    }
}