@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    header,
    footer {
        border-radius: 10px;
    }
    log-img {
        width: 100%;
        float: center;
    }
    /* .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    } */
    .icons li a {
        width: 10px;
    }
}