@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    header,
    footer {
        border-radius: 10px;
    }
    header img {
        width: 200px;
        height: auto;
        float: center;
    }
    .grid {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
    }
}